# these are just the expected config keys - if you are happy with the values then you don't need a pillar for accumulo at all
accumulo:
  uid: 6040
  version: 1.5.0
  prefix: /usr/lib/accumulo
  source_url: http://www.us.apache.org/dist/accumulo/1.5.0/accumulo-1.5.0-bin.tar.gz
  sources:
    source_url: http://www.us.apache.org/dist/accumulo/1.5.0/accumulo-1.5.0-src.tar.gz
    version_name: accumulo-1.5.0

  config:
    instance_name: accumulo
    secret: secret
    tracer_flag: True
    walogs: /var/lib/accumulo/walogs
    log_level: INFO # one of 'DEBUG', 'INFO', 'WARN', 'ERROR'
    log_root: /var/log/accumulo # only set if you have a small root partition or want to do accumulo debugging
    memory_profile: 512MB # one of [<'512MB'>, '1GB', '2GB', '3GB', 'manual']
    # OR: you can set
    #  memory_profile: manual
    #  worker_heap: 8196m #(tserver and master are considered workers)
    #  mgr_heap: 1024m #(gc, monitor and tracer are considered managers)
    # and in the accumulo-site section below set any other memory-related attributes that are normally part of the profile,
    # there are no salt-provided defaults for these in manual mode!
    # like
    #  tserver.sort.buffer.size,
    #  tserver.cache.index.size,
    #  tserver.memory.maps.max,
    #  tserver.cache.data.size,
    #  tserver.walog.max.size
    - accumulo-site:
      trace.user:
        value: root
      crypto.module.class:
        value: org.apache.accumulo.core.security.crypto.DefaultCryptoModule
      crypto.cipher.suite:
        value: AES/CFB/PKCS5Padding
      crypto.cipher.algorithm.name:
        value: AES
      crypto.cipher.key.length:
        value: 128
      crypto.secure.rng:
        value: SHA1PRNG
      crypto.secure.rng.provider:
        value: SUN
      crypto.secret.key.encryption.strategy.class:
        value: org.apache.accumulo.core.security.crypto.CachingHDFSSecretKeyEncryptionStrategy
      crypto.default.key.strategy.cipher.suite:
        value: AES/ECB/NoPadding
